{% extends "layout.html" %}
{% block content %}
    <h2>{{ title }}</h2>
    <form method="POST" action="{{ action }}">
        <label for="name">Имя:</label><br />
        <input class="input-field" type="text" name="name" id="name"
               value="{{ worker.name if worker else '' }}" required />

        <label for="position">Должность:</label><br />
        <input class="input-field" type="text" name="position" id="position"
               value="{{ worker.position if worker else '' }}" />

        <label for="department">Отдел:</label><br />
        <input class="input-field" type="text" name="department" id="department"
               value="{{ worker.department if worker else '' }}" />

        <input class="btn" type="submit" value="{{ submit_text }}">
    </form>
{% endblock %}
